# docker-compose.yml

services:
  postgres:
    image: postgres:16
    container_name: ridehailing-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: ridehailing
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: ridehailing-redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
